#toast {
    position: fixed;
    top: 1rem;
    left: 1rem;
    border-radius: 0.3rem;
}

.success {
    background-color: aqua;
    border-radius: 0.3rem;
}

.error {
    background-color: crimson;
    border-radius: 0.3rem;
}

.toast-timer {
    background-color: #000;
    /* width: 100%; */
    height: 0.1rem;
    animation: toast-slider 3s linear;
    padding: 0;
}

@keyframes toast-slider {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}